@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
    max-width: 1660px;
    margin: 0 auto;
    border: 1px solid silver;

  }

.font-title {
    font-family: 'Alfa Slab One', sans-serif;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 8px; /* Adjust as needed */
}